<div class="auth-container">
    <h2>Login</h2>
    <form action="/login" method="post" id="login-form" class="form">

        <div class="form-control">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" placeholder="Enter your best email..."  />            
        </div>

        <div class="form-control">
            <label for="password">Password: </label>
            <div class="align">
                <input type="password" name="password" id="password" placeholder="Enter your password..." />  
                <div class="icon-div">
                    <i class="bi bi-eye"></i>  
                </div>          
            </div>
        </div>

        <button type="submit">Enter</button>
        <p>Don't have an account yet? <a href="/register">Click here</a></p>
    </form>
</div>