<div class="form-container">
    <a href="/thoughts/dashboard">Go back</a>
    <h1>Add Thought</h1>
    
    <form action="/thoughts/add" method="post" id="register-thought-form" class="form">
        <div class="form-control">
            <label for="title">Title: </label>
            <input type="text" name="title" id="title" placeholder="Enter your thought..." maxlength="80" required />
        </div>
        <button type="submit">Add</button>
    </form>
</div>